
.eco-widget-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.eco-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.eco-earth-text {
  margin-top: 6px;
  font-size: 20px;
  color: #4b5563;
  text-align: center;
}


.eco-logo {
  font-size: 24px;
}

.eco-title {
  font-weight: bold;
  font-size: 16px;
  color: #1f2937;
}

.eco-score {
  display: flex;
  align-items: center;
  gap: 15px;
}

.eco-score-item {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 8px 12px;
  background: #f9fafb;
  border-radius: 9px;
}

.eco-widget {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 10px 14px;
  background: #f9fafb;
  border-radius: 10px;
}

.eco-icon {
  font-size: 24px;
}

.eco-score-value {
  font-weight: bold;
  color: #374151;
}

.eco-score-label {
  color: #6b7280;
  font-size: 18px;
}

.eco-close-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  padding: 8px;
  color: #6b7280;
  transition: color 0.2s;
  padding: 0px;
}

.eco-close-btn:hover {
  color: #1f2937;
}

.eco-grid div:hover {
  background-color: #d3f0d9;
  transition: background-color 0.3s ease;
}
.eco-quadrant:hover {
  background-color: #d3f0d9;
  transition: background-color 0.3s ease;
}

@media (max-width: 768px) {
  .eco-sustainability-widget {
    padding: 8px 12px;
  }
  
  .eco-title {
    font-size: 14px;
  }
  
  .eco-score {
    gap: 8px;
  }
  
  .eco-score-item {
    padding: 3px 6px;
  }
}
